<div class="clearfix tb-allheight">
	<div id="TopMenuGroup" class="col-xs-12" >
			<h2 class='text-center'>TechBOUNCE</h2>
	</div>

	<div id="PageContent"  class="col-xs-12">

		<div class="pageSection">
				<h3 class='text-center'>"The safest place to look for a new trade is at the end of the first correction to a new swing"...W.D.Gann</h3>
				<h3 class='text-center'>other hold it down.</h3>
		</div>

		<div class="descTableGroup">
			<table id="SplitRowTable" class="boxborder2" cellspacing="0" cellpadding ="1" border="1">
				<thead>
					<tr class="table_head1">
						<th class="breakoutHeader">Breakout Trades</th>
						<th class="pullbackHeader">Pullback Trades</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table_row">
						<td>
							<div class="table_desc">
								A Breakout trade capitalizes on the momentum of a stock while the ticker is in a bullish trend.
								<ul>
									<dl>
										<dt>One ...</dt>
										<dd>Buy at the entry price.</dd>
									</dl>
									<dl>
										<dt>Two ... </dt>
										<dd>Sell half of your position at the indicated target.</dd>
									</dl>
									<dl>
										<dt>Three ... </dt>
										<dd>When the ABANDON alert is issued, sell your position the next day.</dd>
									</dl>
								</ul>
							</div>
						</td>
						<td>
							<div class="table_desc">	
								A Pullback capitalizes on small decreases in price while a ticker is in a bullish trend.
								<ul>
									<dl>
										<dt>One ...</dt>
										<dd>Buy at the entry price.</dd>
									</dl>
									<dl>
										<dt>Two ... </dt>
										<dd>Sell your full position at the indicated target.</dd>
									</dl>
									<dl>
										<dt>Three ... </dt>
										<dd>When the ABANDON alert is issued, sell your position the next day.</dd>
									</dl>
								</ul>
							</div>
						</td>
					</tr>
				</tbody>
				<thead>
					<tr class="table_head1">
						<th class="breakdownHeader">Breakdown Trades</th> 
						<th class="shortHeader">Backdraft Trades</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table_row">
						<td>
							<div class="table_desc">
								A Breakdown trade capitalizes on the momentum of a stock while the ticker is in a bearish trend.
								<ul>
									<dl>
										<dt>One ...</dt>
										<dd>Short at the Entry Price.</dd>
									</dl>
									<dl>
										<dt>Two ... </dt>
										<dd>Buy to cover half of your position at the indicated target.</dd>
									</dl>
									<dl>
										<dt>Three ... </dt>
										<dd>When the ABANDON alert is issued, buy to cover your position the next day.</dd>
									</dl>
								</ul>
							</div>
						</td>
						<td>
							<div class="table_desc">	
								A Backdraft trade capitalizes on small spikes in price action while the ticker is in a bearish trend.
								<ul>
									<dl>
										<dt>One ...</dt>
										<dd>Short at the Entry Price.</dd>
									</dl>
									<dl>
										<dt>Two ... </dt>
										<dd>Buy to cover your full position at the indicated target.</dd>
									</dl>
									<dl>
										<dt>Three ... </dt>
										<dd>When the ABANDON alert is issued, buy to cover your position the next day.</dd>
									</dl>
								</ul>
							</div>
						</td>
					</tr>
				</tbody>
				<thead>
					<tr class="table_head1">
						<th class="breakdownHeader">Breakdown Trades</th> 
						<th class="shortHeader">Backdraft Trades</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table_row">
						<td>
							<div class="table_desc">
								A Breakdown trade capitalizes on the momentum of a stock while the ticker is in a bearish trend.
								<ul>
									<dl>
										<dt>One ...</dt>
										<dd>Short at the Entry Price.</dd>
									</dl>
									<dl>
										<dt>Two ... </dt>
										<dd>Buy to cover half of your position at the indicated target.</dd>
									</dl>
									<dl>
										<dt>Three ... </dt>
										<dd>When the ABANDON alert is issued, buy to cover your position the next day.</dd>
									</dl>
								</ul>
							</div>
						</td>
						<td>
							<div class="table_desc">	
								A Backdraft trade capitalizes on small spikes in price action while the ticker is in a bearish trend.
								<ul>
									<dl>
										<dt>One ...</dt>
										<dd>Short at the Entry Price.</dd>
									</dl>
									<dl>
										<dt>Two ... </dt>
										<dd>Buy to cover your full position at the indicated target.</dd>
									</dl>
									<dl>
										<dt>Three ... </dt>
										<dd>When the ABANDON alert is issued, buy to cover your position the next day.</dd>
									</dl>
								</ul>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>


	</div>
	<footer id="BottomMenuGroup" class="container col-xs-12 ">
		<a ui-sref="login" class="btn an-btn-dark col-xs-3 col-xs-offset-2">Login</a>
		<a ui-sref="register" class="btn an-btn-dark col-xs-3 col-xs-offset-2">Sign Up</a>
	</footer>
</div>
<!-- <div ui-view="topMenu"></div>

<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>

<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a href="#" ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>
<p>&nbsp;</p>
<p><a href="#/login" class="btn btn-primary">Logout</a></p> -->