li.active.breakouts > a, li.active.breakouts > a:hover{
	background: #78F1F1 !important;
	color: #333 !important;
}
div.breakouts, div.breakouts > a{
	background: #78F1F1 !important;	
	color: #333 !important;
}

#sideMenu .bottomBreak{
  border-bottom:2px solid #78F1F1;
}
#sideMenu .topBreak{
  border-top:2px solid #78F1F1;
}
.section{
  border-bottom:4px solid #78F1F1;
}
.title1, #maintitle {
  color: #78F1F1;
}
.cc_archive{
  'border-top:4px solid #78F1F1;
}